#btnRow {
    margin-top: 5px;
    margin-bottom: 5px;
}

#gifRow {
    margin-top: 5px;
}

body { 
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}


.gifDiv {
    width: auto;
    background: white;
    margin: 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.gif {
    border-bottom: solid 2px black;

}

h1 {
    font-weight: bold;
    font-family: 'B612 Mono', monospace;
    margin-top: 35%;
}

#meme {
    color: magenta;
}

#search {
    color: aqua;
}

#logo {
    margin-bottom: 5px;
}

.storage {
    margin-top: 2px;
    margin-bottom: 2px;
}

.rating {
    margin-right: 2px;
}

.getGiphy {
    margin-right: 3px;
}

p {
    font-weight: bold;
    font-family: 'B612 Mono', monospace;
    font-size: 12px;
}